*{
	margin:0;
	padding:0;
	box-sizing:borer-box;
	font-family:sans-serif;
}

body{
	/* height:100vh; */
	/* background-image:url(img/img-2.jpg); */
	/* background-size:cover; */
	/* background-repeat:norepeat; */
}

.container{
	/* height:100%; */
	height:100vh;
	/* background-color:#0009; */
	background-color:#1b175d;
	color:#fff;
	display:grid;
	justify-content:center;
	align-content:center;
}

